server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,prometheus,info"
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
